SECRET_KEY=replace-with-your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,.trycloudflare.com,.yanli.net.cn,erp.yanli.net.cn
CSRF_TRUSTED_ORIGINS=https://*.trycloudflare.com,http://*.trycloudflare.com,https://erp.yanli.net.cn,http://erp.yanli.net.cn
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_ENDPOINT=https://<accountid>.r2.cloudflarestorage.com
R2_PUBLIC_DOMAIN=https://pic.example.com
R2_REGION=auto
R2_UPLOAD_PREFIX_SKU=sku-images/
R2_UPLOAD_EXPIRE=900
MP_PUBLIC_BASE_URL=https://erp.yanli.net.cn
