SECRET_KEY=replace-with-your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,.trycloudflare.com,.yanli.net.cn,erp.yanli.net.cn
CSRF_TRUSTED_ORIGINS=https://*.trycloudflare.com,http://*.trycloudflare.com,https://erp.yanli.net.cn,http://erp.yanli.net.cn
